# CODEOWNERS
# These owners will be requested for review on any PR that touches
# the matched files. See:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default reviewers for everything
* @peppekerstens
